body {
    background-color: rgb(24, 24, 24);
}

.a-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 219, 199);
    margin: 30px;
    padding: 15px;
}

.p-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 12rem;
    height: auto;
}

h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-variant: small-caps;
}

p {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}

@media (min-width: 375px) {
    img{
        max-width: 14rem;
    }
    .s-wrap {
        margin: 0px 15px;
    }
}

@media (min-width: 425px) {
    img{
        max-width: 16rem;
    }
}

@media (min-width: 768px) {
        .a-wrap {
        flex-direction: row;
    }
    h1 {
        text-align: left;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        font-variant: small-caps;
    }

    p {
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
}